body {
  // background: brown;
  // padding: 40px;
}

.slick-slider {
  // max-width: 100%;
  // height: 320px;
  & .slick-prev {
    left: 0;
    z-index: 1;
  }
  & .slick-next {
    right: 0;
  }
  & img {
    height: 320px;
    object-fit: cover;
  }
  & .slick-dots {
    bottom: 0;
    z-index: -1;
  }
}

.slider__footer {
  display: grid;
  padding: 10px 0;
  justify-content: center;
  background: rgba(31, 18, 53, 0.4);
  position: relative;
  bottom: 50px;
  color: $light;
  font-size: 18px;
  line-height: 27px;
  font-family: $paragraphs;
  font-weight: 700;
}

.user__details {
  padding-bottom: 40px;
  & .user-contact {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 30px;
    & p {
      color: $dark;
      align-self: center;
      justify-self: center;
      font-size: 14px;
    }
  }
  & .user__address {
    display: flex;
    grid-auto-flow: column;
    padding: 0 20px 30px 20px;
    align-items: center;
    justify-content: center;
    & p {
      font-weight: 700;
    }
  }
  & .user-rrss {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
  }
  & p {
    color: $variation;
  }
  & .icon-address {
    color: $variation;
    justify-self: end;
  }
  & .user-photo {
    width: 114px;
    height: 114px;
    object-fit: cover;
    border-radius: 20px;
    justify-self: center;
  }
}

.room__details,
.room__user-info {
  & p {
    padding: 20px;
    text-align: center;
    font-size: 16px;
  }
}
.room__details{
  display: grid;
  & .room__furnitue__prueba{
    display: grid;
    grid-gap: 20px;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(110px,1fr));
    padding: 20px;
  }
  & .room__furniture{
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    align-items: center;
    & p{
      padding: 0;
  
    }
  }
 
}
.room__services {
  & .services-icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    padding: 40px;
    grid-gap: 40px;
  }
}
