.select__choice{
    display: grid;
    & .select__options{
        display: grid;
        justify-items: center;
        padding: 10% ;
        text-align: center;
        grid-gap: 50px;
        justify-items: center;
        & a{
            text-decoration: none;
            color: $dark
        }
        & button{
            width: 300px;
            font-size: 1em;
            cursor: pointer;
        }
        & .select__item{
            display: grid;
            grid-gap: 20px;
            justify-items: center;
            & button{
                width: 200px;
                height: 40px;
                font-size: 1em;
                padding: 0 20px;
            }
        }
    }


}

