@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Capriola&display=swap);
body {
  margin: 0;
  display: grid;
  font-family: "Lato", "sans serif";
}

body {
  display: grid;
}