@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Capriola&display=swap);
body {
  margin: 0;
  display: grid;
  font-family: "Lato", "sans serif";
}

.header__icons {
  display: grid;
  grid-template-columns: 10% repeat(7, 1fr) 10%;
  padding-top: 15px;
  padding-right: 10px;
  background: #FFFFFF;
}
.header__icons .icon {
  padding-right: 5px;
}
.header__icons .icon:hover {
  color: #FF8E3C;
}
.header__icons .login {
  grid-column: 7;
}
.header__icons .user {
  grid-column: 8;
}
.header__icons .fav {
  grid-column: 9;
}

.room-section {
  display: grid;
  justify-items: center;
}
.room-section .room-pictures {
  display: grid;
  justify-items: center;
}
.room-section .room-pictures__photo-load {
  display: flex;
  padding: 60px;
  border-radius: 5px;
  margin-bottom: 20px;
  background: #EFF0F3;
}
.room-section .room-pictures__photo-load i {
  padding: 20px;
}
.room-section .register-info {
  display: grid;
  justify-items: center;
}
.room-section .register-info input {
  height: 30px;
}
.room-section p {
  padding: 5%;
}
.room-section .room-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  border-radius: 5px;
  background: #EFF0F3;
}
.room-section .room-details .item {
  display: flex;
  margin-bottom: 10px;
}
.room-section #room-details-resize {
  padding: 55px;
}
.room-section__description {
  display: grid;
  justify-items: center;
}
.room-section__description p {
  padding: 5%;
}

@media (min-width: 768px) {
  .room-section .room-basic-data {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .room-section .room-details {
    grid-template-columns: repeat(4, 1fr);
    padding: 1%;
    width: 72%;
  }
  .room-section #room-details-resize {
    padding: 1%;
    width: 72%;
  }
}