//Colors
$dark-color: #0D0D0D;
$light-color: #FFFFFF;
$high-light-color: #FF8E3C;
$high-light-variation: #D9376E;
$card-background: #EFF0F3;

//Fonts
@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Capriola&display=swap);

$primary-font: 'Lato', 'sans serif';
$secondary-font: 'Capriola', 'sans serif';


body {
    margin: 0;
    display: grid;
    font-family: $primary-font;
}

.header__icons {
    display: grid;
    grid-template-columns: 10% repeat(7, 1fr) 10%;
    padding-top: 15px;
    padding-right: 10px;
    background: $light-color;
    .icon {
        padding-right: 5px;
    }
    .icon:hover {
        color: $high-light-color;
    }
    .login {
        grid-column:7;
    }
    .user {
        grid-column: 8;
    }
    .fav {
        grid-column:9;
    }
}

.room-section {
    display: grid;
    justify-items: center;
    .room-pictures {
        display: grid;
        justify-items: center;
        &__photo-load {
            display: flex;
            padding: 60px;
            border-radius: 5px;
            margin-bottom: 20px;
            background: $card-background;
            i {
                padding: 20px;
            }
        }
    }
    .register-info {
        display: grid;
        justify-items: center;
        input {
            height: 30px;
        }
    }
    p {
        padding: 5%;
    }
    .room-details {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 10px;
        border-radius: 5px;
 
        background: $card-background;
        .item {
            display: flex;
            margin-bottom: 10px;
        }
    }
    #room-details-resize {
        padding: 55px;
    }
    &__description {
        display: grid;
        justify-items: center;
        p {
            padding: 5%;
        }
    }
}

@media (min-width: 768px) {
    .room-section {
        .room-basic-data {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .room-details {
            grid-template-columns: repeat(4, 1fr);
            padding: 1%;
            width: 72%;
        }
        #room-details-resize {
            padding: 1%;
            width: 72%;
        }
    }
}
