//Colors
$dark-color: #0D0D0D;
$light-color: #FFFFFF;
$high-light-color: #FF8E3C;
$high-light-variation: #D9376E;
$card-background: #EFF0F3;

//Fonts
@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Capriola&display=swap);

$primary-font: 'Lato', 'sans serif';
$secondary-font: 'Capriola', 'sans serif';


body {
    margin: 0;
    display: grid;
    font-family: $primary-font;
}

.header {
    height: 45vh;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 60% 20% 20%;
    background: url(./assets/interior-1519595__340.webp);
    background-size: cover;
    &__title {
        grid-column: 2;
        margin-top: 20%;
        font-family: $secondary-font;
        color: $light-color;
    }
    .input-field {
        grid-row: 2;
        grid-column-start: 2;
        width: 233px;
        height: 30px;
        justify-self: center;
        border-radius: 5px;
        font-size: 1em;
        font-weight: 300;
        margin-top: 21%;
    }
    .button {
        grid-row: 3;
        grid-column-start: 2;
        width: 233px;
        justify-self: center;
        height: 30px;
        border-radius: 5px;
        font-size: 1em;
        font-weight: 700;
        margin-top: 20%;
        color: $dark-color;
        background-color: $high-light-color;
    }
}

.content-section {
    display: grid;
    grid-gap: 10px;
    &__title {
        justify-self: center;
    }
    .cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        align-items: center;
        justify-items: center;
        grid-gap: 50px;
        padding: 5%;
        .card {
            width: 277px;
            height: 286px;
            display: grid;
            padding-top: 15px;
            grid-template-columns: repeat(3, 92px);
            grid-template-rows: 72px 72px 36px 72px 36px;
            border-radius: 5px;
            margin-bottom: 20px;
            padding-bottom: 25px;
            background-color: $card-background;
            .roomimage {
                width: 250px;
                height: 220px;
                border-radius: 5px;
                grid-column: 1 / span 3;
                grid-row: 1 / span 3;
                padding: 0 0 0 5%;
            }
            &__info {
                grid-column: 1 / span 2;
                grid-row: 4;
                margin: 21% 0 0 5%;
            }
            .userimage {
                width: 70px;
                height: 70px;
                border-radius: 50%;
                object-fit: cover;
                grid-column: 3;
                grid-row: 4;
                border: 1px solid white;
            }
            .name {
                grid-column: 3;
                align-self: flex-end;
                padding-left: 10%;
            }
        }
    }
}

.footer {
    display: grid;
    grid-template-columns: 10% repeat(7, 1fr) 10%;
    .icon:hover {
        color: $high-light-color;
    }
    .login {
        grid-column:6;
    }
    .user {
        grid-column: 7;
    }
    .fav {
        grid-column:8;
    }
}

@media (min-width: 425px) {
    .header {
        .input-field {
            margin-top: 17%;
        }
        .button {
            margin-top: 15%;
        }
    }
}

@media (min-width: 768px) {
    .header {
        height: 25vh;
    }
    .header__title {
        width: 450px;
        justify-self: center;
        margin-top: 10%;
    }
    .header .input-field {
        width: 350px;
        margin: 0;
    }
    .header .button {
        width: 350px;
        margin: 3px;
    }
    .cards-container {
        grid-template-columns: 1fr 1fr;
    }
    .footer {
        grid-row: 1;
        align-items: flex-end;
    }
    .icon {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
@media (min-width: 1024px) {
    .header .button {
        grid-row: 2;
        grid-column: 3;
        width: 40%;
        margin-top: 1%;
        justify-self: auto;
    }
}
//
