//Colors
$dark-color: #0D0D0D;
$light-color: #FFFFFF;
$high-light-color: #FF8E3C;
$high-light-variation: #D9376E;
$card-background: #EFF0F3;

//Fonts
@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Capriola&display=swap);

$primary-font: 'Lato', 'sans serif';
$secondary-font: 'Capriola', 'sans serif';


body {
    margin: 0;
    display: grid;
    font-family: $primary-font;
}

.header {
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 225px 1fr;
    grid-template-rows: 100px 1fr 1fr;
    background-image: url(./assets/interior-1519595__340.webp);
    &__title {
        grid-column: 2;
        font-family: $secondary-font;
        color: $light-color;
    }
    .input-field {
        grid-row: 2;
        grid-column-start: 2;
        width: 233px;
        height: 30px;
        justify-self: center;
        border-radius: 5px;
        font-size: 1em;
        font-weight: 300;
    }
    .button {
        grid-row: 3;
        grid-column-start: 2;
        width: 233px;
        justify-self: center;
        height: 30px;
        border-radius: 5px;
        font-size: 1em;
        font-weight: 700;
        color: $dark-color;
        background-color: $high-light-color;
    }
}

.content-section {
    display: grid;
    grid-gap: 10px;
    &__title {
        justify-self: center;
    }
    .cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        align-items: center;
        justify-items: center;
        grid-gap: 50px;
        padding: 5%;
        .card {
            grid-row: auto;
            justify-self: center;
            width: 300px;
            display: grid;
            grid-template-columns: 5% 45% 45% 5%;
            grid-template-rows: 8% repeat(4, 23%);
            border-radius: 5px;
            margin-bottom: 20px;
            padding-bottom: 25px;
            background-color: $card-background;
            img {
                width: 100%;
                border-radius: 5px;
                grid-column-start: 2;
                grid-column-end: 4;
                grid-row: 2;
            }
            &__body {
                grid-column: 2;
                grid-row: 4;
                margin-top: 55px;
            }
            &__user {
                grid-column: 3;
                grid-row: 4;
                img {
                    border-radius: 50px;
                    border: 1px solid;
                }
                }
            }
        }
}

.footer {
    display: grid;
    grid-template-columns: 10% repeat(7, 1fr) 10%;
    .icon:hover {
        color: $high-light-color;
    }
    .login {
        grid-column:6;
    }
    .user {
        grid-column: 7;
    }
    .fav {
        grid-column:8;
    }
}

@media (min-width: 768px) {
    .header__title {
        width: 450px;
        justify-self: center;
    }
    .header .input-field {
        width: 350px;
    }
    .header .button {
        width: 350px;
    }
    .cards-container {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 1024px) {
    .header .button {
        grid-row: 2;
        grid-column: 3;
        width: 40%;
    }
    .footer {
        grid-row: 1;
        align-items: flex-end;
    }
    .icon {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
//
