@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$light: #FFFFFF;
$dark: #0D0D0D;
$primary: #FF8E3C;
$variation: #D9376E;
$dark-opacity: rgba(31, 18, 53, 0.4);
$card-background: #EFF0F3;
